<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iu.s5.member.MemberDAO">

	<resultMap type="MemberVO" id="LoginResult">
		<id column="id" property="id"/>
		<result column="password" property="password"/>
		<result column="name" property="name"/>
		<result column="age" property="age"/>
		<result column="email" property="email"/>
		<result column="phone" property="phone"/>
		<!-- 1개인 경우 -->
		<association property="memberFileVO" javaType="MemberFileVO">
			<result column="filename" property="filename"/>
			<result column="oriname" property="oriname"/>
		</association>
			
	</resultMap>
	
	<sql id="search">
		like '%'||#{search}||'%' 
	</sql>

	<select id="memberCount" resultType="java.lang.Long"
		parameterType="Pager">
		select count(id) from member
		<where>
			<if test="kind == 'id'">
				id
				<include refid="search"></include>
			</if>

			<if test="kind == 'na'">
				name
				<include refid="search"></include>
			</if>

			<if test="kind == 'ph'">
				phone
				<include refid="search"></include>
			</if>
			
			<if test="kind =='em'">
				email
				<include refid="search"></include>
			</if>

		</where>
	</select>

	<select id="memberList" resultType="MemberVO" parameterType="Pager">
		select * from 
			(select N.*,rownum R from 
				(select * from member where
				<choose>
					<when test="kind =='id'">
						id
					</when>
					<when test="kind =='na'">
						name
					</when>
					<when test="kind =='ph'">
						phone
					</when>
					<otherwise>
						email
					</otherwise>
				</choose>
				<include refid="search"></include>) N)
		where R between #{startRow} and #{lastRow}

	</select>

	<insert id="memberJoin"
		parameterType="MemberVO">
		insert into member
		values(#{id},#{password},#{name},#{phone},#{email},#{age})
	</insert>
	
	<select id="memberLogin" parameterType="MemberVO" resultMap="LoginResult">
		select M.*, F.filename, f.oriname
		from member M Left join memberfile F
		on (M.id = F.id)
		where M.id=#{id} and M.password=#{password}
	</select>
	
	<select id="memberMypage" parameterType="MemberVO" resultType="MemberVO">
		select * from member where id=#{id}
	</select>
	
	<update id="memberUpdate" parameterType="MemberVO">
		update member set name=#{name}, phone=#{phone}, email=#{email}, age=#{age} where id=#{id}
	</update>
	
	<delete id="memberDelete" parameterType="MemberVO">
		delete member where id=#{id}
	</delete>

	<select id="memberIdCheck" parameterType="MemberVO" resultType="MemberVO">
		SELECT id FROM MEMBER WHERE ID=#{id}
	</select>
	
	<delete id="memberDeletes" parameterType="List">
		DELETE MEMBER WHERE ID IN
		<foreach collection="list" item="id"   open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>